output/
tools/*
!tools/packages.config
output.zip
config.wyam.dll
config.wyam.hash
.dotnet/
nuget.exe
config.wyam.packages.xml
# macOS
.DS_Store

# JetBrains Rider
.idea

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
